<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- konfigurasi custom section -->
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="colorManager" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  
  <log4net>
    <appender name="Log4NetAppender" type="OpenRetailGo.Repository.Service.Log4NetAppender, OpenRetailGo.Repository.Service" />
    <root>
      <level value="DEBUG" />
      <appender-ref ref="Log4NetAppender" />
    </root>
  </log4net>
  
  <system.data>
    <DbProviderFactories>
      <remove invariant="Npgsql" />
      <add name="Npgsql Data Provider" invariant="Npgsql" description=".Net Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" />
    </DbProviderFactories>
  </system.data>
  
  <appSettings>
    <add key="server" value="localhost" />
    <add key="port" value="5432" />
    <!-- nama database -->
    <add key="dbName" value="OpenRetailGo" />
    <!-- password file -->
    <add key="passfile" value="c:\users\wan\appdata\roaming\postgresql\pgpass.conf" />
    
    <!-- setting barcode -->
    <add key="printerBarcode" value="" />
    <add key="headerLabel" value="" />
    <add key="batasAtasBaris1" value="43" />
    <add key="batasAtasBaris2" value="187" />
    <add key="batasAtasBaris3" value="344" />
    <add key="batasAtasBaris4" value="496" />
    <add key="batasKiriKolom1" value="11" />
    <add key="batasKiriKolom2" value="277" />
    <add key="batasKiriKolom3" value="540" />

    <!-- setting label harga -->
    <add key="printerLabelHarga" value="" />
    <add key="fontName" value="Courier New" />
    <add key="batasAtasBaris1LabelHarga" value="43" />
    <add key="batasAtasBaris2LabelHarga" value="187" />
    <add key="batasAtasBaris3LabelHarga" value="344" />
    <add key="batasAtasBaris4LabelHarga" value="496" />
    <add key="batasAtasBaris5LabelHarga" value="650" />
    <add key="batasAtasBaris6LabelHarga" value="805" />
    <add key="batasAtasBaris7LabelHarga" value="960" />
    <add key="batasAtasBaris8LabelHarga" value="1115" />

    <add key="batasKiriKolom1LabelHarga" value="30" />
    <add key="batasKiriKolom2LabelHarga" value="225" />
    <add key="batasKiriKolom3LabelHarga" value="425" />
    <add key="batasKiriKolom4LabelHarga" value="625" />
    
    <!-- pengaturan printer -->
    <add key="printerName" value="" />
    <add key="isAutoPrinter" value="false" />
    <add key="isAutoPrinterLabelNota" value="false" />
    <add key="jenis_printer" value="1" />
    
    <!-- pengaturan printer mini pos-->
    <add key="isCetakCustomer" value="false" />
    <add key="jumlahKarakter" value="40" />
    <add key="jumlahGulung" value="3" />
    <add key="ukuranFont" value="0" />
    <add key="isAutocut" value="false" />
    <add key="autocutCode" value="27,112,0,75,250" />
    <add key="isOpenCashDrawer" value="false" />
    <add key="openCashDrawerCode" value="27,112,0,25,250" />
    
    <!-- pengaturan customer display -->
    <add key="portNumber" value="COM1" />
    <add key="baudRate" value="9600" />
    <add key="parity" value="1" />
    <add key="dataBits" value="8" />
    <add key="stopBits" value="1" />
    <add key="isActiveCustomerDisplay" value="false" />
    <add key="customerDisplayOpeningSentenceLine1" value="Selamat datang di" />
    <add key="customerDisplayOpeningSentenceLine2" value="KR Software" />
    <add key="customerDisplayClosingSentenceLine1" value="Terima Kasih" />
    <add key="customerDisplayClosingSentenceLine2" value="Selamat dtg kembali" />
    <add key="customerDisplayDelayDisplayClosingSentence" value="5" />
    
    <!-- pengaturan pageSize (jumlah record per halaman) -->
    <add key="pageSize" value="200" />
    
    <!-- pengaturan lainnya -->
    <add key="isShowMinimalStok" value="true" />
    <add key="isCustomerRequired" value="true" />
    <add key="isCetakKeteranganNota" value="true" />
    <add key="isSingkatPenulisanOngkir" value="false" />
    <add key="defaultPPN" value="0" />
  </appSettings>
  
  <colorManager>
    <add key="formBackColor" value="255, 255, 255" />
    <add key="panelHeaderBackColor" value="31, 86, 125" />
    <add key="panelFooterBackColor" value="31, 86, 125" />
    <add key="labelHeaderForeColor" value="255, 255, 255" />
    <add key="textFocusColor" value="230, 250, 252" />
  </colorManager>  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.9.0" newVersion="3.1.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.9.0" newVersion="3.1.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.9.0" newVersion="3.1.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Caching.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.9.0" newVersion="3.1.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.9.0" newVersion="3.1.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.9.0" newVersion="3.1.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.9.0" newVersion="3.1.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.11.3.0" newVersion="2.11.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ExcelNumberFormat" publicKeyToken="23c6f5d73be07eca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
